@import '../../../styles/utilities.scss';

$modal-header-height: 2.5rem;

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    animation: modal-zoom-in ease-in 0.2s;
}

.modal-header {
    height: $modal-header-height;
    border-bottom: 1px solid $primary-color;
    .close-btn {
        height: 1.8rem;
        width: 1.8rem;
        padding: 0.3rem;
        background: none;
        border: none;
        font-weight: 800;
        box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    }
}

.modal-body {
    overflow-y: auto;
    max-height: calc(100vh - #{$modal-header-height});
}

@keyframes modal-zoom-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
