@import '../../../styles/utilities.scss';



.nav-tab {
    text-decoration: none;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 3px;
    width: 7rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navrbar-height;
    z-index: 2;
    border-bottom: 1px solid #f5ecec;
}

.active-tab, .nav-tab:hover {
    color: $primary-color !important;
    font-weight: bold;
}

.name-brand {
    font-size: 1.5rem;
}


.ghost-nav {
    height: 3rem;
    visibility: hidden;
}

.mobile-menus {
    position: fixed;
    z-index: 1000;
    top: $navrbar-height;
    background-color: white;
    width: 100%;
    overflow: hidden;
    border-top: 3px solid $secondary-color;
    display: none;
}

.mobile-menus__list {
    animation: slideFadeIn 0.5s ease-out;
}

.mobile-menus-overlay {
    z-index: 997;
    top: $navrbar-height;
    position: fixed;
    left: 0;
    height: calc(100vh - #{$navrbar-height});
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in;
}

.download-resume-btn {
    width: 7rem;
    height: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .nav-container-lg {
        display: none !important;
    }

    .nav-container-sm {
        display: flex !important;
        flex-grow: 0;
    }

    .mobile-menus {
        display: block !important;
    }
    
    .download-resume-btn {
        width: 5.5rem;
    }
}


