@import './utilities.scss';


.text-primary {
    color: $primary-color !important;
}

.bg-primary {
    background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.bg-dark {
  background-color: $dark-color !important;
}

.bg-lighter {
  background-color: $lighter-color !important;
}

.bg-light {
  background-color: $light-color !important;
}


.text-secondary {
    color: $secondary-color !important;
}

.text-dark {
  color: $dark-color !important;
}

.text-lighter {
  color: $lighter-color;
}


.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}


.cursor-pointer {
  cursor: pointer;
}