@import '../../../styles/utilities.scss';

.title-underline {
    width: 3rem;
    height: 0.2rem;
    background-color: $lighter-color;
}

.portfolio-section {
    animation: fadeIn 1s ease-in;
}