@import '../../../styles/variables.scss';

.disabled-project-link {
    pointer-events: none;
    text-decoration: none;
}





@media screen and (max-width: 1024px) {
    .projects-wrapper {
        width: 100% !important;
    }

}
