@import '../../../styles/utilities.scss';



.intro-wrapper {
    height: calc(100vh - #{$navrbar-height});
}


.intro-container {
    width: calc(100% - 20rem);
    margin: 0 auto;
    // border: 1px solid;
    padding: 0rem 5rem;
    .profile-picture {
        height: 350px;
        width: 350px;
    }
}





.intro-container__job-title {
    font-size: 6rem;
    font-weight: 900;
    line-height: 6rem;
}

.intro-container__job-description   {
    font-size: 1.7rem;
}

.know-more-btn {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

@media screen and (max-width: 1024px) {
    .intro-container {
        width: calc(100% - 1rem);
        padding: 2rem 0;
        .profile-picture {
            height: 200px;
            width: 200px;
        }

        .intro-container__job-title {
            text-align: center;
        }

        
    }

    .intro-container__job-title {
        font-size: 3.5rem;
        line-height: 4rem;
    }

   
}