@import url('bootstrap/dist/css/bootstrap-grid.css');
@import url('bootstrap/dist/css/bootstrap-utilities.css');
@import './styles/utilities.scss';
@import './styles/globals.scss';
@import './styles/tabs.scss';
@import './styles/scrollbar.scss';

body, html {
  min-height: 100%;
  max-height: 100%;
  overflow: auto;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

