@import '../../../styles/utilities.scss';

.contact-icon-link {
    .contact-icon {
        color: black;
        font-size: 3rem;
        &.linkedin {
            color: $primary-color;
        }
        &.github {
            color: $dark-color;
        }
        &.instagram {
            color: $secondary-color;
        }
        &.twitter {
            color: #1D9BF0;
        }
        &.gmail {
            color: #B3261E;
        }
    }
}

.contact-me-btn {
    display: block;
    width: 7rem;
    height: 2.5rem;
    line-height: 2.5rem;
} 
